<div id="container">
  <h1>Referral programme</h1>

  <div style="max-width: 100%;">
    <img
      src="https://s3.ap-south-1.amazonaws.com/assets-dev.smallcase.com/images/offers/how-it-works.png"
      width="100%"
    />
  </div>

  Introduce your friends to smallcase and earn coins once they start investing. They get their first smallcase for free ✨.

  <h2 id="how-it-works">How it works</h2>

  <ol>
    <li>You share your referral link with your friends.</li>
    <li>They sign-up up using that link.</li>
    <li>When they buy a smallcase for the first time, no transaction fee is charged. They will get charged for GST. But coins of equal worth will be added back to their account.</li>
    <li>Once they invest, you get ₹100 worth of coins in your account. For all kinds of orders which incur a transaction fee, you can offset it using coins. Note that coins cannot be used to offset GST fees.</li>
  </ol>

  &nbsp;

  <p>Have questions? Feel free to reach out to us at support@smallcase.com.</p>

</div>